*{
    border: 0;
    padding: 0;
}

body{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: purple;
    color: white;
}

#texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: auto;
}

.sobretoure{
    background-color: #8c00ff;
    color: black;
}

.modifiers{
    background-color: #ef006c;
    color: black;
}

.runnes{
    background-color: #3f6d95;
    color: black;
}

.naturalis{
    background-color: #609e8e;
    color: black;
}

.artemors{
    background-color: #cc2b57;
    color: black;
}

.magicians{
    background-color: #5700ff; 
    color: black;   
}


.imgcl1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgcla{
    width: 400px;
    height: 400px;
}

.botoes1{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
}

#voltar{
    background-color: #5700ff;
    color: black;
    border-radius: 10px;
    width: 600px;
    height: 200px;
    font-size: 50px;
}